.shell {
  display: flex;
  height: 100dvh;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding: var(--mantine-spacing-lg);
  overflow-y: auto;
}

@media (max-width: 767.9px) {
  .main {
    padding-top: calc(56px + var(--mantine-spacing-lg));
  }
}
