.container {
  min-height: 100vh;
  background-color: #d4e8d0;
  position: relative;
  overflow: hidden;
}

/* Top-left circle */
.container::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  top: -150px;
  left: -100px;
  border-radius: 50%;
  border: 40px solid rgba(139, 195, 126, 0.4);
  pointer-events: none;
}

/* Bottom-right circle */
.container::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: -200px;
  right: -150px;
  border-radius: 50%;
  border: 40px solid rgba(139, 195, 126, 0.4);
  pointer-events: none;
}

/* Responsive - Tablet and up */
@media (min-width: 768px) {
  .container::before {
    width: 400px;
    height: 400px;
    top: -200px;
    left: -150px;
  }
  
  .container::after {
    width: 500px;
    height: 500px;
    bottom: -250px;
    right: -200px;
  }
}

/* Responsive - Desktop */
@media (min-width: 1024px) {
  .container::before {
    width: 500px;
    height: 500px;
    border-width: 50px;
  }
  
  .container::after {
    width: 600px;
    height: 600px;
    border-width: 50px;
  }
}